/* This styles for App.js file */
#box {
    background-color: rgb(175, 144, 97);
    margin: 20% 20% 0% 30%;
    min-height: 400px;
    width: 450px;
    display: flex;
    flex-direction: column;
  }

